<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
        
        <title>{{ config[ 'app.name' ] }} - {% block title %}{% endblock %} </title>
        
        <!--Stylesheets-->
        <link rel="stylesheet" href="/css/custom.css" type="text/css" />
    </head>
    
    <body>
        <header>
            <nav>
                <a href="/">
                    <span>Accueil</span>
                </a>
            </nav>
        </header>
        <main>
            {% block main %}{% endblock %}
        </main>
        <footer>
            {% block script %}{% endblock %}
            <p>
                {{ config['app.year'] }} © {{ config['app.team'] }}
            </p>
        </footer>
    </body>
</html>